<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="a.b.c.dao.ServiceDAO">
    <select id="findServiceByUserId" parameterType="String">
        SELECT *
        FROM service
        WHERE mid = #{mid}
    </select>
    <select id="sumUsageById">
        SELECT sum(size)
        FROM file
        WHERE mid = #{mid}
    </select>
    <insert id="insertService" parameterType="a.b.c.vo.ServiceVO">
        INSERT INTO service(mid, username, kindof, startdate, enddate, company, phone, email, volume)
        VALUES (#{mid}, #{username}, #{kindof}, #{startdate}, #{enddate}, #{company}, #{phone}, #{email}, #{volume})
    </insert>
    <update id="saveNewEnddate">
        UPDATE service
        SET enddate=#{newenddate}
        WHERE mid = #{mid}
    </update>
    <update id="saveNewVolume">
        UPDATE service
        SET volume=#{newvolume}
        WHERE mid = #{mid}
    </update>
</mapper>
